body {
    margin: auto;
    /* background-image: url("images/background6.png"); */
    background-image: url("images/gg2.jpg");
    /* background: #ffffff; */
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background: #ffffff;
    background-image: url("images/background3.jpg");
    padding: 20px; 
    border-bottom: 5px solid #cccccc;
    
} 

#name {
    /* background: #4aaaa5; */
    display: inline;
    position: relative;
    margin-left: 11%;
    padding: 20px 20px 20px 20px;
    font-family: raleway;
    color: #777777;
    
}

nav {
    float: right;   
    padding: 15px;
    position: relative;
    margin-right: 11%;
      
}

a {
    padding: 0px 15px;
    text-decoration: none;
    color: black;
    border: 5px;
    font-family: raleway;
    border-right: 1px solid #777777;
}

a.fab {
    border: none;
}

section {
    background-image: url("images/gg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background: #cccccc; */
    padding: 10px 15px 20px 15px;
    color: black;
    width: 70%;
    height: 400px;
    margin: 60px auto;
    font-family: raleway;
    border: 2px solid #dddddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}



footer {
    /* background: #666666; */
    background-image: url("images/background3.jpg");
    padding: 5px; 
    color: white;  
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;;
    color: white;
    text-align: center;
    border-top: 5px solid #ffffff;   
     
}

img {
    float: right;
    margin-top: -308px;
    margin-right: 40px;
    border: solid 1px #777777;
    border-radius: 5px;
    box-shadow:  4px 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

footer i {
    font-size: 200%;
    padding: 15px;
    color: #777777;
}

hr {
    background: #777777;
}

h2 {
   color: #777777;
   font-family: raleway;
}

h6 {
     margin-bottom: 0px;
}

#button {
     background:#777777;
     padding: 10px;
     cursor: pointer;
     font-weight: bold;
     opacity: 0.6;
     color: #ffffff;

}

input, textarea {
    border: 1px solid #777777;
    border-radius: 4px;
}

@media screen and (max-width: 640px) {
    section {
        margin: 0 auto ;     
        width: 90%;
    }

    header {
        margin: 0 auto;       
        width: 100%;
        overflow: auto;
        padding: 0;
    }

    nav {
        margin: 0 auto;       
        width: 90%;
        display: block;
        padding: 20px;
        text-align: center;
    }

    #name {
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    input {
        width: 100%;
    }

    textarea {
        width: 100%;
    }

    button {
        width: 80px;
    }
 } 


@media screen and (max-width: 768px) {
    section {
        margin: 0 auto ;     
        width: 90%;
    }

    header {
        margin: 0 auto;       
        width: 100%;
        overflow: auto;
        padding: 0;
    }

    nav {
        margin: 0 auto;       
        width: 90%;
        display: block;
        padding: 20px;
        text-align: center;
    }

    #name {
        margin: 0 auto;
        display: block;
        text-align: center;

    }

    input {
        width: 100%;
    }
   
    textarea {
        width: 100%;
    }

    button {
        width: 80px;
    }

 } 

 @media screen and (max-width: 960px) {
    section {
        margin: 0 auto ;     
        width: 70%;
    }

    header {
        margin: 0 auto;       
        width: 100%;
        overflow: auto;
        padding: 0;
    }

    nav {
        margin: 0 auto;       
        width: 90%;
        display: block;
        padding: 20px;
        text-align: center;
    }

    #name {
        margin: 0 auto;
        display: block;
        text-align: center;

    }

    textarea {
        width: 100%;
    }

    input {
        width: 100%;
    }

    img {
        display: none;
    }


 }

